<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Green Reward</title>
  <link rel="stylesheet" href="./home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="fullscreen-bg">
  <video loop muted autoplay poster="https://storage.coverr.co/t/Yh1kERqtFxxfzaX2Zb02UqoUAJ7zkQ02tA" class="fullscreen-bg__video"> 
    <source src="https://storage.coverr.co/videos/Yh1kERqtFxxfzaX2Zb02UqoUAJ7zkQ02tA?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjE2MzA4MjMwfQ.jzxOtJq3VYt_sT6ElwUfOaYsBsRl8LiCqajORF4PzzE" type="video/mp4"> 
    <!-- add .ogv and .webm to cover all compatible devices  -->
  </video>
</div>
<div class="content">
  <h1 class="content__title">Green Reward</h1>
  <h3 class="content__text"> </h3>

  <h1 class="content__title1">Decentralized reward distribution for Sustainable Waste Management</h1> 

</div>
  <section id="section03" class="demo">

  <img src="ipfs1.png" height="20%" width="9%" style="margin-left: 38%; margin-top: 10%; margin-right: 5%;">
  <img src="polygon1.png" height="250px" width="250px" style="padding-top: 25%;">
  <a href="index.html"><span></span>Go</a>

</section>  

<!-- partial -->
  
</body>
</html>
